<div class="col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading"><strong>GET</strong>   {{pathSuffix}}</div>
        <div class="panel-body">
            <div class="row ">
                {{>queryParams}}
                {{>pathParams}}
                {{>responseExample}}
            </div>
        </div>
    </div>
</div>